- @previous = "Dashboard"
- @previoushref = "/farmer/dashboard"
- @current = "Your dashboard"

.row-fluid
	.page-header
		%h1 Your Dashboard
.row-fluid
	= partial :"admin/dashboard/checkin_table"
.row-fluid
	= partial :"admin/dashboard/user_table"
	= partial :"admin/dashboard/venue_table"