.row-fluid
	.page-header
		%h1 Events List
	.alert.alert-info
		This is the list of recent events in the system be they new user creations, checkins, new venue creations, sessions or session conclusions.
= partial :"admin/events/event_table"