.container-fluid
	.row-fluid
		.span3 &nbsp;
		.span6
			.page-header
				%h1 Hearclear Management Login
				%br/
				%h4 Authorised access only
			.box{:style => "margin-bottom:500px;"}
				%h4.box-header.round-top HearClear MGMT Login
				.box-container-toggle
					.box-content
						%form.well.form-search{:method => "POST", :action => "/farmer/login"}
							%input.input-medium{:type => "text", :placeholder => "username", :name => "username"}
							%input.input-medium{:type => "password", :placeholder => "password", :name => "password"}
							%button.btn{:type => "submit"} Login