.row-fluid
	.span12
		.box
			%h4.box-header.round-top 
				Events Table
			.box-container-toggle
				.box-content
					%table.table.table-striped.table-bordered
						%thead
							%tr
								%th Event Type
								%th Time
								%th User
								%th Info
						%tbody
							%tr
								%td Signup
								%td HH:MM:SS DD/MM/YYYY
								%td 080918809
								%td
									%a.btn.btn-info{:href => "#"} Event Info