.row-fluid
	.span12
		.box
			%h4.box-header.round-top 
				Venue Sessions
			.box-container-toggle
				.box-content
					%table.table.table-striped.table-bordered
						%thead
							%tr
								%th Date
								%th User ID
								%th Device
								%th Lat & Lon
								%th Samples
								%th Concluded?
						%tbody
							%tr
								%td 12/12/12
								%td 09019829982
								%td iPhone 4S
								%td 32.8,-76.4
								%td 78
								%td Yes
							%tr
								%td 12/12/12
								%td 09019829982
								%td iPhone 4S
								%td 32.8,-76.4
								%td 78
								%td Yes
							%tr
								%td 12/12/12
								%td 09019829982
								%td iPhone 4S
								%td 32.8,-76.4
								%td 78
								%td Yes
							%tr
								%td 12/12/12
								%td 09019829982
								%td iPhone 4S
								%td 32.8,-76.4
								%td 78
								%td Yes