.row-fluid
	.span12
		.box
			%h4.box-header.round-top 
				Venue Samples
			.box-container-toggle
				.box-content
					%table.table.table-striped.table-bordered
						%thead
							%tr
								%th Date
								%th Peak Value
								%th Average Value
								%th Converted Value
								%th Error?
						%tbody
							%tr
								%td HH:MM:SS DD/MM/YYYY +Z
								%td 0.87081
								%td 0.3562
								%td 0.55677
								%td Error
							%tr
								%td HH:MM:SS DD/MM/YYYY +Z
								%td 0.87081
								%td 0.3562
								%td 0.55677
								%td Error
							%tr
								%td HH:MM:SS DD/MM/YYYY +Z
								%td 0.87081
								%td 0.3562
								%td 0.55677
								%td Error
							%tr
								%td HH:MM:SS DD/MM/YYYY +Z
								%td 0.87081
								%td 0.3562
								%td 0.55677
								%td Error