.row-fluid
	.span12
		.box
			- if @venue.checkins.nil? || @venue.checkins.size == 0
				%p No Checkins Yet
			- else
				%h4.box-header.round-top 
					Venue Sessions
				.box-container-toggle
					.box-content
						%table.table.table-striped.table-bordered
							%thead
								%tr
									%th Date
									%th User ID
									%th Device
									%th Samples
							%tbody
								- @venue.checkins.each do |checkin|
									%tr
										%td
											= checkin.sessions.max(:timestamp).strftime("%d-%m-%y %H:%M")
										%td
											= checkin.user.id
										%td
											= checkin.user.device
										%td
											= checkin.sessions.count
								