- @previous = "Venues"
- @previoushref = "/farmer/venues"
- @current = "Venue Name"
= partial :"admin/shared/pillbar"
.row-fluid
	.page-header
		%h1 Venue Name
		
= partial :"admin/venues/venue_info"

