.row-fluid
	.span12
		.box
			%h4.box-header.round-top 
				Venue Basic Info
			.box-container-toggle
				.box-content
					%table.table.table-striped.table-bordered
						%thead
							%tr
								%th{:width => "40%"} Field
								%th Value
						%tbody
							%tr
								%th Foursquare ID 
								%td 09180918
							%tr
								%th Venue Name
								%td The Tiny Widget
							%tr
								%th Venue Lat & Lon
								%td 33.2,-87.6
							%tr
								%th Checkins
								%td 98
							%tr
								%th Sessions
								%td 876
								