.row-fluid
	.span12
		.box
			%h4.box-header.round-top 
				Venue Table
			.box-container-toggle
				.box-content
					%table.table.table-striped.table-bordered
						%thead
							%tr
								%th Venue Name
								%th Venue Location
								%th Checkins
								%th Sessions
								%th Current Rating
								%th Info
						%tbody
							%tr
								%td The Pool Palace
								%td 45.78, -32.56
								%td 11
								%td 76
								%td Loud
								%td
									%a.btn.btn-info{:href => "#"} Venue Info