.row-fluid
	.span12
		.box
			- if @venue.checkins.nil? || @venue.checkins.count == 0
				%p No Checkins
			- else
				%h4.box-header.round-top 
					Venue Sessions
				.box-container-toggle
					.box-content
						%table.table.table-striped.table-bordered
							%thead
								%tr
									%th Checkin Time
									%th Avg Values
									%th Peak Values
									%th Session Length
							%tbody
								- @venue.checkins.each do |checkin|
									%tr
										%td
											= checkin.sessions.min(:timestamp).strftime("%d-%m-%y")
										%td
											= checkin.average_string
										%td
											= checkin.peak_string
										%td
											= checkin.sessions.count
								