.span12
	.box
		%h4.box-header.round-top 
			Last 5 Checkins
		.box-container-toggle
			.box-content
				%table.table.table-striped.table-bordered
					%thead
						%tr
							%th User
							%th Venue
							%th Venue Type
							%th Time
							%th Session Data?
					%tbody
						%tr
							%td
								1656748
							%td
								The Cool Lounge
							%td
								Bar
							%td
								23:32 24/08/12
							%td
								Yes
						%tr
							%td
								1656748
							%td
								The Pool Room
							%td
								Sporting Venue
							%td
								23:32 24/08/12
							%td
								Yes
						%tr
							%td
								1656748
							%td
								The Pool Room
							%td
								Sporting Venue
							%td
								23:32 24/08/12
							%td
								Yes
						%tr
							%td
								1656748
							%td
								The Pool Room
							%td
								Sporting Venue
							%td
								23:32 24/08/12
							%td
								Yes
						%tr
							%td
								1656748
							%td
								The Pool Room
							%td
								Sporting Venue
							%td
								23:32 24/08/12
							%td
								Yes