.span12
	.box
		%h4.box-header.round-top 
			Last 5 Checkins
		.box-container-toggle
			.box-content
				%table.table.table-striped.table-bordered
					%thead
						%tr
							%th User
							%th Venue
							%th Time
							%th Sessions
					%tbody
						- @checkins.each do |checkin|
							%tr
								%td
									= checkin.user.deviceID
								%td
									= checkin.venue.name
								%td
									= checkin.sessions.min(:timeStamp).strftime("%d-%m-%y %H:%M")
								%td
									= checkin.sessions.count