.span12
	.box
		.box-title Last 10 Checkins
		.box-content
			%table.table.table-striped.nopadding
				%thead
					%tr
						%th User
						%th Venue
						%th Venue Type
						%th Time
						%th Session Data?
					%tr
						%td
							1656748
						%td
							The Cool Lounge
						%td
							Bar
						%td
							23:32 24/08/12
						%td
							Yes
					%tr
						%td
							1656748
						%td
							The Pool Room
						%td
							Sporting Venue
						%td
							23:32 24/08/12
						%td
							Yes