.span6
	.box
		%h4.box-header.round-top 
			Last 5 Sessions
		.box-container-toggle
			.box-content
				%table.table.table-striped.table-bordered
					%thead
						%tr
							%th User
							%th Venue
							%th Concluded?
							%th Submissions
							%th Length
					%tbody
						%tr
							%td 11220980
							%td The Pool Place
							%td Yes
							%td 220
							%td 2h 30m
						%tr
							%td 11220980
							%td The Pool Place
							%td Yes
							%td 220
							%td 2h 30m
						%tr
							%td 11220980
							%td The Pool Place
							%td Yes
							%td 220
							%td 2h 30m
						%tr
							%td 11220980
							%td The Pool Place
							%td Yes
							%td 220
							%td 2h 30m
						%tr
							%td 11220980
							%td The Pool Place
							%td Yes
							%td 220
							%td 2h 30m