.span6
	.box
		%h4.box-header.round-top 
			Last 5 Added Venues
		.box-container-toggle
			.box-content
				%table.table.table-striped.table-bordered
					%thead
						%tr
							%th Venue
							%th Checkins
					%tbody
						- @venues.each do |venue|
							%tr
								%td
									= venue.name
								%td
									= venue.checkins.count