.span6
	.box
		%h4.box-header.round-top 
			Top 5 Venues
		.box-container-toggle
			.box-content
				%table.table.table-striped.table-bordered
					%thead
						%tr
							%th Venue
							%th Category
							%th Lat & Lon
							%th Checkins
							%th Current Rating
					%tbody
						%tr
							%td The Pool Place
							%td Bar
							%td 44.56,-35.78
							%td 12
							%td Loud
						%tr
							%td The Pool Place
							%td Bar
							%td 44.56,-35.78
							%td 12
							%td Loud
						%tr
							%td The Pool Place
							%td Bar
							%td 44.56,-35.78
							%td 12
							%td Loud
						%tr
							%td The Pool Place
							%td Bar
							%td 44.56,-35.78
							%td 12
							%td Loud
						%tr
							%td The Pool Place
							%td Bar
							%td 44.56,-35.78
							%td 12
							%td Loud