.container
	.row
		.span10.offset1.content
			.row
				.span8.offset1
					%h1
						%img{:height => "256", :width => "256", :src => "/img/HCIcon.png"}/
					%h2 HearClear - Collecting venue loudness data
					%hr/
					.row
						.span4
							%img#iphone{:height => "744", :width => "396", :src => "img/iPhone.png"}/
						.span4#features
							%h3
								%i.icon-check
								Loudness data for venues
							%p
								Help yourself and other consumers make intelligent choices about which venues you attend.
							%h3
								%i.icon-check
								Built on Foursquare
							%p
								HearClear uses Foursquare's venue information to make sure you've got a list of venues that are vetted and verified. You don't need a Foursquare account to use it though and you never have to hand over your Foursquare login info.
							%h3
								%i.icon-check
								Help collect needed data
							%p
								Currently I've only been able to collect a small amount of data for a few venues. By joining the HearClear project and helping me collect data you'll be helping fine tune and build a system to give more information to consumers like yourself.
							
					%hr/
					.row
						.span8
							%h3 Who is doing this and for what reason?
							%p I'm Dan Nolan, I'm in my final year of Software Engineering at UNSW and I'm building this system to collect and analyse this data for my capstone thesis project. The project is run according to the rules and requirements of the University and all data collected is anonymous with the exception of venue information and some device identification information so I can weight the data based on device audio profiles. 
							%h3 So why do this project?
							%p Being unable to hear other people at venues doesn't just impact those who use hearing aids, it affects all of us. Not being able to have a quiet conversation at a pub because they constantly play music too loud is really annoying. I've always been annoyed when I've gone to a venue to find out that it's poorly soundproofed or they've done no work on acoustic damping and you have to shout over the other patrons just to be heard at the bar or when ordering from a waiter. HearClear is designed as a first step towards collecting data on venues to provide information on venue loudness to help consumers make more informed choices.
							%h3 Where does the data go?
							%p The only data that is stored is anonymized checkin data and the sound levels the app records, along with the venue details and your current location. The application, just like foursquare needs your current location information to work. At the end of the trial period and upon the completion of the thesis project, the anonymised data will be handed over to UNSW for further study and potential future thesis projects for other students.
							%h3 Wait so do you record what I say and transmit it somewhere?
							%p Absolutely not. The app shows that it is recording information purely so I can get sound data in the background but all of the audio data is being discarded (written to /dev/null if you must know). The information I'm taking from the audio stream is the peak values of the audio channel, that is how high the voltage gets on the channel. The higher the voltage, the louder the noise coming through the microphone and thus the louder the venue. I collect this data over a period of time and transmit it along with information about the venue to a secure server. The information transmitted is all anonymous and none of the audio is retransmitted, broadcast or saved.
							%h3 Can I see the data you record on venues?
							%p Unfortunately, not at first. However as you collect information on venues it will be available through the venue information page on the App.
					%hr/
					.modal#betrayalModal.hide.fade{:width => "500"}
						.modal-header
							%button.close{:type => "button", "data-dismiss" => "modal"} &times;
							%h3 Seriously? You're admitting you're a monster?
						.modal-body{:height => "480"}
							%p I believe in you though and I imagine with a bit of... re-education we could persuade you to participate. Maybe this will help change your mind
							%iframe{:src => "http://www.youtube.com/embed/9bZkp7q19f0?rel=0", :width => "480", :height => "440", :style => "margin: 0 auto; text-align:center;"}
						.modal-footer
							%button.btn.btn-danger{"data-dismiss" => "modal"} I submit to Zuul.
					.row
						.span4
							%h3
								I need your help
							%p I can't get this off the ground without a decent amount of data and I need people who are willing to use HearClear over the standard foursquare client when they do check in so I can start collecting data and analysing it. Without your help I'm not going to be able to collect enough data to fine tune the sound-detection algorithms and provide intelligent information to participants and help get this project some legs.
						
						.span4
							%h3 Get Involved
							%p Getting involved is really simple, click the button below. You'll be taken to a testflight signup page so we can build a certificate so you can use the App. Test flight makes it easy to deploy updates and help provide support to the users of the app and also gives scope for users to provide feedback on what we can do better.
					%hr/
					.row
						.span4
							%h3
								Get the App
							%p If you're interested in getting involved, click the button below and enrol to join the testflight team.
						
						.span4
							%h3 Start checking in
							%p Once you've got a build of the app, you're good to go. Check in when you're out and about at venues and you'll automatically be helping to build a collection of valuable location noise data.
							
					%hr/		
					%form.form-inline
						%a.btn.btn-primary.btn-large{:href => "http://tflig.ht/PfiYgh"} I'd love to help.
						%a.btn.btn-danger.btn-large{:href => "#betrayalModal", "data-toggle" => "modal"} I'm a heartless monster.
					%hr/
					%footer
						%p
							Copyright &copy; Dan Nolan 2012
								