.container
	.row
		.span10.offset1.content
			.row
				.span8.offset1
					%h1
						%img{:height => "158", :width => "158"}/
					%h2 HearClear - Better venue noise ratings
					%hr/
					.row
						.span3
							%img#iphone{:height => "625", :width => "270"}/
						.span5#features
							%h3
								%i.icon-check
								Web Synergy
							%p
								Singlehanded Synergy friends will spend their days hanging out like friends
							%h3
								%i.icon-check
								Web Synergy
							%p
								Singlehanded Synergy friends will spend their days hanging out like friends
							%h3
								%i.icon-check
								Web Synergy
							%p
								Singlehanded Synergy friends will spend their days hanging out like friends
							%h3
								%i.icon-check
								Web Synergy
							%p
								Singlehanded Synergy friends will spend their days hanging out like friends
							%h3
								%i.icon-check
								Web Synergy
							%p
								Singlehanded Synergy friends will spend their days hanging out like friends
							%h3
								%i.icon-check
								Web Synergy
							%p
								Singlehanded Synergy friends will spend their days hanging out like friends
					%hr/
					.row
						.span4
							%h3
								I need your help
							%p I simply can't build this without your help
						
						.span4
							%h3 Get Involved
							%p If you want to help and get involved you can do so below
							
					%hr/
					%form.form-inline
					
						%button.btn Get Involved
					%footer
						%p
							Copyright &copy; Dan Nolan 2012
								