= partial :"admin/users/user_basics"

= partial :"admin/users/user_venues"

= partial :"admin/users/user_sessions"


.row-fluid
	.span6
		.pull-right
			%a.btn.btn-primary{:href => "/farmers/users"} Back