.row-fluid
	.span12
		.box
			%h4.box-header.round-top 
				Users Table
			.box-container-toggle
				.box-content
					%table.table.table-striped.table-bordered
						%thead
							%tr
								%th User ID
								%th Checkins
								%th Last Venue
								%th Sessions
								%th Actions
						%tbody
							%tr
								%td 109801980982
								%td 72
								%td The Pool Parlor
								%td 875
								%td
									%a.btn.btn-info{:href => "/farmer/users/blah"} User Info