.row-fluid
	.span12
		.box
			%h4.box-header.round-top 
				User Basic Info
			.box-container-toggle
				.box-content
					%table.table.table-striped.table-bordered
						%thead
							%tr
								%th{:width => "40%"} Field
								%th Value
						%tbody
							%tr
								%th User ID
								%td 
									= @user.id
							%tr
								%th Device
								%td
									= @user.device
							%tr
								%th Device ID
								%td
									= @user.deviceID
								