.span12
	.box
		%h4.box-header.round-top 
			User Sessions
		.box-container-toggle
			.box-content
				%table.table.table-striped.table-bordered
					%thead
						%tr
							%th Date
							%th Venue
							%th Session ID
							%th Samples
							%th Lat & Lon
							%th Concluded?
					%tbody
						%tr
							%td 12/12/12
							%td The Wet Jihad
							%td 019809802
							%td 67
							%td 48.5,-89.2
							%td Yes