.row-fluid
	.span12
		.box
			- if @user.checkins.nil? || @user.checkins.count == 0
				%p No Checkins Yet
			- else
				%h4.box-header.round-top 
					User Venues
				.box-container-toggle
					.box-content
						%table.table.table-striped.table-bordered
							%thead
								%tr
									%th Venue
									%th Checkins
									%th Last Checkin
									%th Samples
							%tbody
								- @user.checkins.each do |checkin|
									%tr
										%td 
											= checkin.venue.name
										%td
											= Checkin.user_count_for_venue(@user, checkin.venue)
										%td
											= checkin.sessions.max(:timestamp).strftime("%d-%m-%y")
										%td
											= checkin.sessions.count