.span12
	.box
		%h4.box-header.round-top 
			User Basic Info
		.box-container-toggle
			.box-content
				%table.table.table-striped.table-bordered
					%thead
						%tr
							%th{:width => "40%"} Field
							%th Value
					%tbody
						%tr
							%td Foursquare ID 
							%td 09180918
						%tr
							%td Foursquare Token 
							%td 09180918
						%tr
							%td Signup Date
							%td 098019801
						%tr
							%td Last Session
							%td
							