.row-fluid
	.span12
		.box
			- if @user.checkins.nil? || @user.checkins.count == 0
				%p No Checkins
			- else
				%h4.box-header.round-top 
					User Sessions
				.box-container-toggle
					.box-content
						%table.table.table-striped.table-bordered
							%thead
								%tr
									%th Session ID
									%th Venue
									%th Date
									%th Samples
							%tbody
								- @user.checkins.each do |checkin|
									%tr
										%td
											= checkin.id
										%td
											= checkin.venue.name
										%td
											= checkin.sessions.max(:timestamp).strftime("%d-%m-%y %H:%M")
										%td
											= checkin.sessions.count